<div>
        <div class="panel-body">
            <div>
                <p class="text-center h2">{{count}}</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-sm btn-primary" ng-click="count = count + 1">
                        <span translate>Click Here</span>
                    </button>


                    <button class="btn btn-sm btn-primary" ng-click="count = cancel">
                        <span translate>Cancel</span>
                    </button>
                </div>
            </div>
        </div>

</div>