<div>
        <div class="panel-body">
            <div>
                <p style="text-align:left;font-size:20px;margin:15px">{{associateBotInfoText}}</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-sm btn-primary" ng-click="runBotFunc()" ng-disabled="btnDisabled">
                        <span translate>Run The Bot</span>
                    </button>
                </div>
            </div>
        </div>

</div>