<div ng-controller="Cases.DetailsController">

    <!--<div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
        id num: {{id.identificationNumber }}<br />
        <input type="text" class="input-md form-control" ng-model="id.identificationNumber"
               placeholder="{{ id.identificationNumber }}" >
        <br />
        {{id.identificationType}}<br />
        <input type="text" class="input-md form-control" ng-model="id.identificationType"
          placeholder="{{ id.identificationType }}" >
        <br />
    </div>-->

    <div>TEST:  {{ currentUserProfile }}</div>


        <div class="panel panel-success panel-grid">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a>Provider Information</a>
                    <div ng-hide="currentUserProfile.groups[0] === 'CMS@APVITACMS.COM'" class="pull-right">
                        <button class="btn btn-default btn-xs" ng-click="saveOptMedicaid()"><i class="fa fa-lg fa-save"></i></button>
                    </div>
                </h4>
            </div>
            <div  class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label >SSN/EIN: {{ SSN_EIN }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.identificationType === 'SSN/EIN' ">
                                    <input type="text" class="input-md form-control" ng-model="id.identificationNumber"
                                           placeholder="{{ id.identificationNumber }}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>NPI: {{ NPINumber }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.identificationType === 'NPI' ">
                                    <input type="text" class="input-md form-control" ng-model="id.identificationNumber"
                                           placeholder="{{ id.identificationNumber }}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label >PTAN: {{ ptanId }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.identificationType === 'PTAN' ">
                                    <input type="text" class="input-md form-control" ng-model="id.identificationNumber"
                                           placeholder="{{ id.identificationNumber }}" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label >PECOS Enrollment ID: {{ PECOSEnrollmentID }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.identificationType === 'PECOS Enrollment ID' ">
                                    <input type="text" class="input-md form-control" ng-model="id.identificationNumber"
                                           placeholder="{{ id.identificationNumber }}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>PECOS Enrollment State: {{ PECOSEnrollmenState }}</label>
                            <!--<input type="text" class="input-md form-control"
                                   placeholder="{{ CaseFileNumber }}"
                                   readonly>-->
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>PECOS Enrollment Status: {{ PECOSEnrollmenStatus }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.identificationType === 'PECOS Enrollment ID' ">
                                    <input type="text" class="input-md form-control" ng-model="id.idStatus"
                                           placeholder="{{ id.idStatus }}" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label >Contractor ID: {{ ContractortID }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.identificationType === 'Contractor ID/Contractor Name' ">
                                    <input type="text" class="input-md form-control" ng-model="id.identificationNumber"
                                           placeholder="{{ id.identificationNumber }}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Specialty: {{ objectInfo.acmObjectOriginator.person.providerSpecialty }}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.acmObjectOriginator.person.providerSpecialty"
                                   placeholder="{{  objectInfo.acmObjectOriginator.person.providerSpecialty }}" >
                        </div>
                        <div class="col-sm-4 form-group">
                            <!-- input -->
                            <label>Taxonomy: {{objectInfo.caseTaxonomy}}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseTaxonomy"
                                   placeholder="{{ objectInfo.caseTaxonomy }}" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <!-- input -->
                            <label>Application Type: {{objectInfo.caseApplicationType}}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseApplicationType"
                                   placeholder="{{ objectInfo.caseApplicationType }}" >
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-success panel-grid">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseCriminal">Criminal Action</a>
                </h4>
            </div>
            <div id="collapseCriminal" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Name of Convicted Individual: {{ providerFullName }}</label>
                            <!--<input type="text" class="input-md form-control"
                                   placeholder="{{ CaseFileNumber }}"
                                   readonly>-->
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Convicted Individual's TIN: {{ tinId }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.identificationType === 'TIN' ">
                                    <input type="text" class="input-md form-control" ng-model="id.identificationNumber"
                                           placeholder="{{ id.identificationNumber }}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Federal or State Crime (Case Type): {{ caseFileType }}</label>
                            <!--<input type="text" class="input-md form-control"
                                   placeholder="{{ CaseFileNumber }}"
                                   readonly>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Case Number: {{ caseFileNumber }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.caseFileNumber !== null">
                                    <input type="text" class="input-md form-control" ng-model="id.idCaseNumber"
                                           placeholder="{{ id.idCaseNumber }}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Offense Type: {{ offenseType }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.idOffenseType !== null">
                                    <input type="text" class="input-md form-control" ng-model="id.idOffenseType"
                                           placeholder="{{ id.idOffenseType }}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Disposition / Conviction Date: {{ dispositionDate }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.idDispositionDate !== null">
                                    <date-time-picker data="id.idDispositionDate"
                                                      property="id.idDispositionDate"
                                                      date-picker-id="id.idDispositionDate"
                                                      time-format-disabled="true">
                                    </date-time-picker>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label >10 Years from Conviction Date: {{ tenYearsConvDate }}</label>
                            <!--<input type="text" class="input-md form-control"
                                   placeholder="{{ CaseFileNumber }}"
                                   readonly>-->
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Court Name: {{ courtName }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.idCourtName !== 'null' ">
                                    <input type="text" class="input-md form-control" ng-model="id.idCourtName"
                                           placeholder="{{ id.idCourtName }}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Docket Request Date: {{ docketRequestDate }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.idDocketRequestDate !== 'null' ">
                                    <date-time-picker data="id.idDocketRequestDate"
                                                      property="id.idDocketRequestDate"
                                                      date-picker-id="id.idDocketRequestDate"
                                                      time-format-disabled="true">
                                    </date-time-picker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Docket Response Date: {{ docketResponseDate }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.idDocketResponseDate !== 'null' ">
                                    <date-time-picker data="id.idDocketResponseDate"
                                                      property="id.idDocketResponseDate"
                                                      date-picker-id="id.idDocketResponseDate"
                                                      time-format-disabled="true">
                                    </date-time-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Docket Status: {{ docketStatus }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.docketStatus !== 'null' ">
                                    <input type="text" class="input-md form-control" ng-model="id.docketStatus"
                                           placeholder="{{ id.docketStatus }}" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSanction">Sanction Action</a>
            </h4>
        </div>
        <div id="collapseSanction" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Sanctioned Associate First Name: {{ associateFirstName }}</label>
                        <input type="text" class="input-md form-control" ng-model="objectInfo.acmObjectOriginator.person.associateFirstName"
                               placeholder="{{ objectInfo.acmObjectOriginator.person.associateFirstName }}" >
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Sanctioned Associate Last Name: {{ objectInfo.acmObjectOriginator.person.associateLastName }}</label>
                        <input type="text" class="input-md form-control" ng-model="objectInfo.acmObjectOriginator.person.associateLastName"
                               placeholder="{{ objectInfo.acmObjectOriginator.person.associateLastName }}" >
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Sanctioned Associate Legal Business Name: {{ objectInfo.acmObjectOriginator.person.associateLegalBusinessName }}</label>
                        <input type="text" class="input-md form-control" ng-model="objectInfo.acmObjectOriginator.person.associateLegalBusinessName"
                               placeholder="{{ objectInfo.acmObjectOriginator.person.associateLegalBusinessName }}" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Sanctioned Associate NPI: {{ objectInfo.acmObjectOriginator.person.associateNPI }}</label>
                        <input type="text" class="input-md form-control" ng-model="objectInfo.acmObjectOriginator.person.associateNPI"
                               placeholder="{{ objectInfo.acmObjectOriginator.person.associateNPI }}" >
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Sanctioned Associated TIN: {{ objectInfo.acmObjectOriginator.person.associateTIN }}</label>
                        <input type="text" class="input-md form-control" ng-model="objectInfo.acmObjectOriginator.person.associateTIN"
                               placeholder="{{ objectInfo.acmObjectOriginator.person.associateTIN }}" >
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Sanctioned Associated TIN Type: {{ objectInfo.acmObjectOriginator.person.associateTinType }}</label>
                        <input type="text" class="input-md form-control" ng-model="objectInfo.acmObjectOriginator.person.associateTinType"
                               placeholder="{{ objectInfo.acmObjectOriginator.person.associateTinType }}" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label >Exclusion Type/Sanction Code: {{ objectInfo.acmObjectOriginator.person.associateSanctionCode }}</label>
                        <input type="text" class="input-md form-control" ng-model="objectInfo.acmObjectOriginator.person.associateSanctionCode"
                               placeholder="{{ objectInfo.acmObjectOriginator.person.associateSanctionCode }}" >
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Sanctioned Associate Role in Affiliated Enrollment: {{ objectInfo.acmObjectOriginator.person.associateRole }}</label>
                        <input type="text" class="input-md form-control" ng-model="objectInfo.acmObjectOriginator.person.associateRole"
                               placeholder="{{ objectInfo.acmObjectOriginator.person.associateRole }}" >
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Sanctioned Date: {{ objectInfo.acmObjectOriginator.person.associateSanctionDate }}</label>
                        <date-time-picker data="objectInfo.acmObjectOriginator.person.associateSanctionDate" property="objectInfo.acmObjectOriginator.person.associateSanctionDate"
                        date-picker-id="objectInfo.acmObjectOriginator.person.associateSanctionDate" time-format-disabled="true"></date-time-picker>

                    </div>
                </div>
            </div>
        </div>
    </div>


        <div class="panel panel-success panel-grid">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseLicense">License Action</a>
                    <div ng-hide="currentUserProfile.groups[0] === 'CMS@APVITACMS.COM'" class="pull-right">
                        <button class="btn btn-default btn-xs" ng-click="saveOptMedicaid()"><i class="fa fa-lg fa-save"></i></button>
                    </div>
                </h4>
            </div>
            <div id="collapseLicense" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>License Number: {{ licenseNumber }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.identificationType === 'License Number' ">
                                    <input type="text" class="input-md form-control" ng-model="id.identificationNumber"
                                           placeholder="{{ id.identificationNumber }}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>License Status: {{ licenseStatus }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.identificationType === 'License Number' ">
                                    <input type="text" class="input-md form-control" ng-model="id.idStatus"
                                           placeholder="{{ id.idStatus }}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>License Expiration Date: {{ licenseExp }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.identificationType === 'License Number' ">
                                    <date-time-picker data="id.idExpirationDate"
                                                      property="id.idExpirationDate"
                                                      date-picker-id="id.idExpirationDate"
                                                      time-format-disabled="true">
                                    </date-time-picker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>License Qualifier/Sanction: {{ licenseQualifierSanction }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.identificationType === 'License Number' ">
                                    <input type="text" class="input-md form-control" ng-model="id.idQualifierSanction"
                                           placeholder="{{ id.idQualifierSanction }}" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>License Alert Date: {{ licenseAlertDate }}</label>
                            <div ng-repeat="id in objectInfo.acmObjectOriginator.person.identifications track by $index">
                                <div ng-if="id.identificationType === 'License Number' ">
                                    <date-time-picker data="id.idAlertDate"
                                                      property="id.idAlertDate"
                                                      date-picker-id="id.idAlertDate"
                                                      time-format-disabled="true">
                                    </date-time-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Reporting Week: {{ objectInfo.caseReportingWeek }}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseReportingWeek"
                                   placeholder="{{ objectInfo.caseReportingWeek }}" >
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-success panel-grid">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOpt">OPT Medicaid Action</a>
                    <div ng-hide="currentUserProfile.groups[0] === 'CMS@APVITACMS.COM'" class="pull-right">
                        <button class="btn btn-default btn-xs" ng-click="saveOptMedicaid()"><i class="fa fa-lg fa-save"></i></button>
                    </div>
                </h4>
            </div>
            <div id="collapseOpt" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>State Medicaid Agency: {{ objectInfo.caseStateMedicaidAgency }}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseStateMedicaidAgency"
                                   placeholder="{{ objectInfo.caseStateMedicaidAgency }}" >
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Termination Type: {{ objectInfo.caseTerminationType }}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseTerminationType"
                                   placeholder="{{ objectInfo.caseTerminationType }}" >
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Termination Effective Date</label>
                            <date-time-picker data="objectInfo.caseTerminationEffDate" property="objectInfo.caseTerminationEffDate"
                                              date-picker-id="objectInfo.caseTerminationEffDate" time-format-disabled="true"></date-time-picker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Enrollment Bar Expiration Date</label>
                            <date-time-picker data="objectInfo.caseEnrollmentBarExpDate" property="objectInfo.caseEnrollmentBarExpDate"
                                              date-picker-id="objectInfo.caseEnrollmentBarExpDate" time-format-disabled="true"></date-time-picker>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Reinstated Termination Effective Date </label>
                            <date-time-picker data="objectInfo.caseReinsTerminationEffDate" property="objectInfo.caseReinsTerminationEffDate"
                                              date-picker-id="objectInfo.caseReinsTerminationEffDate" time-format-disabled="true"></date-time-picker>
                        </div>
                         <div class="col-sm-4 form-group">
                             <label>Rescinded Termination Effective Date </label>
                             <date-time-picker data="objectInfo.caseRecindTerminationEffDate" property="objectInfo.caseRecindTerminationEffDate"
                                               date-picker-id="objectInfo.caseRecindTerminationEffDate" time-format-disabled="true"></date-time-picker>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Appeals Period Expired?: {{ objectInfo.caseAppealsPeriodExpired }}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseAppealsPeriodExpired"
                                   placeholder="{{ objectInfo.caseAppealsPeriodExpired }}" >
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Termination Reason: {{ objectInfo.caseTerminationReason }}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseTerminationReason"
                                   placeholder="{{ objectInfo.caseTerminationReason }}" >
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Correspondence Address: {{ objectInfo.caseCorrespondenceAddress }}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseCorrespondenceAddress"
                                   placeholder="{{ objectInfo.caseCorrespondenceAddress }}" >
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="panel panel-success panel-grid">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseRevise">Revise & Reissue Revocation</a>
                    <div ng-hide="currentUserProfile.groups[0] === 'CMS@APVITACMS.COM'" class="pull-right">
                        <button class="btn btn-default btn-xs" ng-click="saveOptMedicaid()"><i class="fa fa-lg fa-save"></i></button>
                    </div>
                </h4>
            </div>
            <div id="collapseRevise" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Original Revocation Authorities: {{ objectInfo.caseOrigRevAuth }}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseOrigRevAuth"
                                   placeholder="{{ objectInfo.caseOrigRevAuth }}" >
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Date of Original Revocation Letter </label>
                            <date-time-picker data="objectInfo.caseOrigRevLetterDate" property="objectInfo.caseOrigRevLetterDate"
                                              date-picker-id="objectInfo.caseOrigRevLetterDate" time-format-disabled="true"></date-time-picker>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Revise & Reissue Eligible (Y/N): {{ objectInfo.caseReviseReissueEl }}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseReviseReissueEl"
                                   placeholder="{{ objectInfo.caseReviseReissueEl }}" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Effective Date of Letter</label>
                            <date-time-picker data="objectInfo.caseEffectiveLetterDate" property="objectInfo.caseEffectiveLetterDate"
                                              date-picker-id="objectInfo.caseEffectiveLetterDate" time-format-disabled="true"></date-time-picker>

                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Outcome of Revise & Reissue: {{ objectInfo.caseReviseReissueOutcome }}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseReviseReissueOutcome"
                                   placeholder="{{ objectInfo.caseReviseReissueOutcome }}" >
                             </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success panel-grid">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a>Final Outcome</a>
                    <div ng-hide="currentUserProfile.groups[0] === 'CMS@APVITACMS.COM'" class="pull-right">
                        <button  class="btn btn-default btn-xs" ng-click="saveOptMedicaid()"><i class="fa fa-lg fa-save"></i></button>
                    </div>
                </h4>
            </div>
            <div class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Outcome of Admin Actions: {{ objectInfo.caseAdminActionsOutcome }}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseAdminActionsOutcome"
                                   placeholder="{{ objectInfo.caseAdminActionsOutcome }}" >
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Revocation Authorities Cited in Action Letter: {{ objectInfo.caseRevAuthCitedActionLetter }} </label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseRevAuthCitedActionLetter"
                                   placeholder="{{ objectInfo.caseRevAuthCitedActionLetter }}" >
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Length of Re-Enrollment Bar: {{ objectInfo.caseLengthReEnrollBar }}</label>
                            <input type="text" class="input-md form-control" ng-model="objectInfo.caseLengthReEnrollBar"
                                   placeholder="{{ objectInfo.caseLengthReEnrollBar }}" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Revocation Effective Date (Action Date)</label>
                            <date-time-picker data="objectInfo.caseRevEffActionDate" property="objectInfo.caseRevEffActionDate"
                                              date-picker-id="objectInfo.caseRevEffActionDate" time-format-disabled="true"></date-time-picker>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>cases.comp.details.caseSummary.title</span>
                <div ng-hide="currentUserProfile.groups[0] === 'CMS@APVITACMS.COM'" class="pull-right">
                    <button class="btn btn-default btn-xs" ng-click="saveDetailsSummary()"><i class="fa fa-lg fa-save"></i></button>
                </div>
            </div>
        </div>
        <div>
            <textarea rows=5 ng-model="objectInfo.caseDetailsSummary" class="input-md form-control"></textarea>
        </div>
    </div>
    <div class="panel panel-success panel-grid">
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>cases.comp.details.title</span>
                <div ng-hide="currentUserProfile.groups[0] === 'CMS@APVITACMS.COM'" class="pull-right">
                    <button class="btn btn-default btn-xs" ng-click="saveDetails()"><i class="fa fa-lg fa-save"></i></button>
                </div>
            </div>
        </div>
        <div class="panel-body remove-margin-bottom-from-summernote">
            <mention-summernote ng-model="objectInfo.details" params="paramsSummernote"></mention-summernote>
        </div>
    </div>


</div>
