<div class="modal-header">
<h3><span translate>Saving Case</span></h3>
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div id="collapseInfo" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-sm-6">
                        <h5>Please wait while case is saving</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>